<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="appender.console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<appender name="appender.file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="../../../../log/log4j.log"/>
		<param name="append" value="true"/>
		<param name="threshold" value="WARN"/>
		<param name="MaxFileSize" value="50MB"/>
		<param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd  HH:mm:ss}] %5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<logger name="admin.jobs.entries">
		<level value="INFO"/>
		<appender-ref ref="appender.file"/>
	</logger>

	<logger name="admin.services.scheduler">
		<level value="DEBUG"/>
		<appender-ref ref="appender.file"/>
	</logger>

	<logger name="admin.controllers.jobs.edit.photosImport.strategies.photosight">
		<level value="INFO"/>
		<appender-ref ref="appender.file"/>
	</logger>

	<logger name="admin.controllers.scheduler.tasks">
		<level value="INFO"/>
		<appender-ref ref="appender.file"/>
	</logger>

	<root>
		<level value="WARN"/>
		<appender-ref ref="appender.console"/>
		<appender-ref ref="appender.file" />
	</root>

	<!-- TRACE, DEBUG, INFO, WARN, ERROR and FATAL -->
</log4j:configuration>