

	#if ( $showLoginForm && $loggedUserId <= 0 )
		<form id="loginform" method="POST" action="$loginFormAction">

			<div class="row">
				<div class="col-lg-3">$loginFormLogin</div>
				<div class="col-lg-8">
	##				<input class="ui-state-default ui-corner-all" type="text" id="$loginFormLoginControl" name="$loginFormLoginControl" value="Zabiyaka" size="14"/>
					<select name="$loginFormLoginControl" id="$loginFormLoginControl">
						#foreach( $userLogin in $userLogins )
							<option value="$userLogin.login">$userLogin.name</option>
						#end
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">$loginFormPassword</div>
				<div class="col-lg-8">
					<input class="ui-state-default ui-corner-all" type="password" id="$loginFormPasswordControl" name="$loginFormPasswordControl" value="$defaultDebugPassword" size="12"/>
					<input border="0" height="16" width="16" src="$imagePath/register-icon.png" type="image" name="image"/>
				</div>
			</div>

			<div class="row">
				<input id="$loginUserAutomaticallyControl" name="$loginUserAutomaticallyControl" type="checkbox" value="1" class="ui-state-default ui-corner-all"> $rememberMeText
			</div>
		</form>
	#end

	#if ( $showLoginForm && $loggedUserId > 0 )
		<div class="text-right">
			<div class="row"><a href="$loggedUserCardUrl" title="$loggedUserCardUrlTitle">$loggedUserName</a></div>
			<div class="row"><a href="$baseUrl/photos/new/" title="$uploadPhotoText">$uploadPhotoText</a></div>
			<div class="row">[ <a href="$baseUrl/members/logout/" title="$logoutText">$logoutText</a> ]</div>
		</div>
	#end