#*<style type="text/css">
	.mainMenu {
		float: left;
		width: 100%;
		height: 22px;
		/*text-align: center;*/
		float: left;
		margin: 3px 3px 3px 7px;
		padding: 4px;
		border-left: none;
		border-right: none;
		/*border: dotted;*/
	}

	.menuItemBox {
		padding-left: 35px;
		/*border: dashed;*/
	}

	.menuItem {
		float: left;
		height: 30px;
		/*text-align: center;*/
		/*border: dashed;*/
	}

	.menu-title {
		/*text-transform: uppercase;*/
		/*font-weight: bold;*/
		/*color: #b81900;*/
	}
</style>*#

<div id='cssmenu' class="block-background block-border" style="width: 100%;">

	<ul>
		#foreach( $menuItem in $menuElements.entrySet() )

			<li class='has-sub'><a href='$menuItem.key.link'><span>$menuItem.key.caption</span></a>
				<ul>
					#foreach( $subMenuItem in $menuItem.value )
						<li class="base-font-color block-border block-background" style="border-top: none;">
							<a href='$subMenuItem.link' onclick='$subMenuItem.jsFunction'>
								<span>

									#if ( $StringUtils.isNotEmpty( $subMenuItem.icon ) )
										<img src="$imagePath/$subMenuItem.icon" height="16" width="16" />
									#end

									#if ( $StringUtils.isEmpty( $subMenuItem.icon ) )
										&nbsp;&nbsp;&nbsp;&nbsp;
									#end

									$subMenuItem.caption
								</span>
							</a>
						</li>
					#end
				</ul>
			</li>
		#end
	</ul>
</div>


#*<script type="text/javascript">
	require( [ 'jquery', 'superfish' ], function( $, superfish ) {
		$( 'ul.sf-menu' ).superfish( {
			delay:1, // one second delay on mouseout
			animation:{opacity:'show', height:'show'}, // fade-in and slide-down animation
			speed:'fast', // faster animation speed
			autoArrows:false // disable generation of arrow mark-up
		} );
	} );
</script>

<div class="mainMenu block-background block-border">
	<div class="menuItemBox">
		#foreach( $menuItem in $menuElements.entrySet() )
			<div class="menuItem">
				<ul id="main-menu" class="sf-menu">
					<li class="current">
						<a class="menu-title" href="$menuItem.key.link">$menuItem.key.caption</a>
						<ul class="block-background block-border">
							#foreach( $subMenuItem in $menuItem.value )
								<li class="block-border">
									<a href="$subMenuItem.link" onclick="$subMenuItem.jsFunction">
										#if ( $StringUtils.isNotEmpty( $subMenuItem.icon ) )
											<img src="$imagePath/$subMenuItem.icon" height="16" width="16" />
										#end
										#if ( $StringUtils.isEmpty( $subMenuItem.icon ) )
											&nbsp;&nbsp;&nbsp;&nbsp;
										#end
										$subMenuItem.caption &nbsp;
									</a>
								</li>
							#end
						</ul>
					</li>
				</ul>
			</div>
		#end
	</div>
</div>*#
