<div id='cssmenu' class="menu-block-background menu-block-border">

	<ul>
		#foreach( $menuItem in $menuElements.entrySet() )

			<li class='has-sub'><a href='$menuItem.key.link'><span>$menuItem.key.caption</span></a>
				<ul>
					#foreach( $subMenuItem in $menuItem.value )
						<li class="menu-font-color menu-block-background menu-block-shadow">
							<a href='$subMenuItem.link' onclick='$subMenuItem.jsFunction'>
									<span>

										#if ( $StringUtils.isNotEmpty( $subMenuItem.icon ) )
											<img src="$imagePath/$subMenuItem.icon" height="16" width="16"/>
										#end

										#if ( $StringUtils.isEmpty( $subMenuItem.icon ) )
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										#end

										$subMenuItem.caption
									</span>
							</a>
						</li>
					#end
				</ul>
			</li>
		#end
	</ul>

</div>
