<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>$title</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>

	<link rel="stylesheet" type="text/css" href="$baseUrl/css/jphoto.css"/>
	<link rel="stylesheet" type="text/css" href="$baseUrl/css/jphoto.context-menu.css"/>

	<script type="text/javascript" src="$baseUrl/js/lib/jsonrpc.js"></script>

	<script type="text/javascript">
		var jsonRPC = new JSONRpcClient( "$baseUrl/JSON-RPC" );
	</script>

	<script type="text/javascript" src="$baseUrl/js/require-config.js.jsp"></script>
	<script type="text/javascript" src="$baseUrl/js/lib/front-end/require.js"></script>

	<script type="text/javascript" src="$baseUrl/js/common.js"></script>

	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/jquery/css/smoothness/jquery-ui-1.10.4.custom.css"/>

	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/JSCal2-1.9/css/jscal2.css"/>
	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/JSCal2-1.9/css/border-radius.css"/>
	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/JSCal2-1.9/css/steel/steel.css"/>

	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/fg.menu/fg.menu.css"/>

	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/toastmessage/resources/css/jquery.toastmessage.css"/>

	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css"/>
##	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.cyborg.css"/>
##	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.darkly.css"/>
##	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.flatly.css"/>
##	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.superhero.css"/>
##	<link rel="stylesheet" type="text/css" href="$baseUrl/js/lib/bootstrap-3.3.2-dist/css/bootstrap.min.united.css"/>

	<style type="text/css">
		.language {
			padding: 2px;
		}
	</style>

</head>

<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-lg-2 text-center">

					<div class="row" style="height: 35px;">
						<span style="font-size: 24px;"><a href="$portalpageurl">$progectname</a></span>
					</div>

					<div class="row" style="height: 30px;">
						<a href="$portalpageurl">$slogan</a>
					</div>

					<div class="row" style="height: 30px;">
						#foreach( $uiLanguage in $uiLanguages )
							<a href="#" onclick="changeUiLanguage( '$uiLanguage.language.code' ); return false;">
								<img src="$imagePath/languages/$uiLanguage.language.icon" title="$uiLanguage.title"
									 class="language $uiLanguage.style">
							</a>
						#end

						<script type="text/javascript">
							function changeUiLanguage( languageCode ) {
								$.ajax( {
									type: 'GET',
									url: '$baseUrl/language/' + languageCode + '/',
									success: function ( response ) {
										document.location.reload();
									},
									error: function () {
										alert( 'Error changing UI language :' );
									}
								} );
							}
						</script>
					</div>
			</div>

			<div class="col-lg-10">

				<div class="col-lg-8">

					<div class="row">
						<h3>$pageHeader</h3>
					</div>

					<div class="row">
						$breadcrumbs
					</div>

					<div class="row">
						#foreach( $titleIcon in $titleIcons )
							<div class="col-md-1">$titleIcon.icon</div>
						#end

						#if ( $hiMessage )
							<script type="text/javascript">
								require( [ 'jquery' ], function ( $ ) {
									$( document ).ready( function () {
										showUIMessage_Notification( "$hiMessage" );
									} );
								} );
							</script>
						#end
					</div>
				</div>

				<div class="col-lg-3" style="float: right !important; margin-top: 10px;">
					#parse( "loginForm.vm" )
				</div>

			</div> #* / panel body *#

		</div> #* / panel *#

##		<div class="panel panel-default">

##			<div class="panel-body">

				#parse( "menu.bootstrap.vm" )

				#if ( $showPhotoCategoriesToolbar )
					#parse( "genrelist.vm" )
				#end

##			</div>

##		</div>
