	</div>
##		</div>
##	</div>
#*<div id="footer">
	<p>Copyright &copy; 2006 Dusplic. Designed by <a href="http://#/"><strong>BorDark</strong></a> |
		<a href="#" title="This page validates as XHTML 1.0 Transitional">Valid
			<abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></p>
</div>*#
</body>
</html>