<div style="float: left; width: 100%; text-align: left;">

	<div style="float: left; width: 350px; text-align: left;">

		<div class="user-picker-container" style="float: left; width: 100%; margin-bottom: 10px;"></div>

		<img class="mass-selector-icon-restriction-type-user" width="16" height="16" /> <b><%=translations.filterByUserRestrictionsTitle%></b>:

		<br />
		<br />

		<% _.each( restrictionTypesUser, function( restrictionType ) { %>
			<input type="checkbox" id="restrictionType<%=restrictionType.id%>" name="restrictionType" value="<%=restrictionType.id%>" class="restriction-type-user restriction-type-id" <%= _.contains( selectedUserRestrictionTypeIds, restrictionType.id ) ? "checked='checked'" :"" %> >
			<label for="restrictionType<%=restrictionType.id%>"><%=restrictionType.name%></label>
			<br />
		<% }) %>

		<br />




		<img class="mass-selector-icon-restriction-type-photo" width="16" height="16" /> <b><%=translations.filterByPhotoRestrictionsTitle%></b>:

		<br />
		<br />

		<% _.each( restrictionTypesPhoto, function( restrictionType ) { %>
			<input type="checkbox" id="restrictionType<%=restrictionType.id%>" name="restrictionType" value="<%=restrictionType.id%>" class="restriction-type-photo restriction-type-id" <%= _.contains( selectedPhotoRestrictionTypeIds, restrictionType.id ) ? "checked='checked'" :"" %> >
			<label for="restrictionType<%=restrictionType.id%>"><%=restrictionType.name%></label>
			<br />
		<% }) %>

		<br />




		<img class="mass-selector-icon-restriction-status" width="16" height="16" />  <b><%=translations.filterByStatusTitle%></b>:

		<br />
		<br />

		<% _.each( restrictionStatuses, function( restrictionStatus ) { %>
			<input type="checkbox" id="restrictionStatus<%=restrictionStatus.id%>" name="restrictionStatus" value="<%=restrictionStatus.id%>" class="restriction-status" <%= _.contains( selectedRestrictionStatusIds, restrictionStatus.id ) ? "checked='checked'" :"" %> >
			<label for="restrictionStatus<%=restrictionStatus.id%>"><%=restrictionStatus.name%></label>
			<br />
		<% }) %>

		<br />

		<input type="button" class="apply-filter-restriction-button" value="<%=translations.filterButtonTitle%>">

	</div>

	<div class="search-result-container" style="float: left; text-align: left; width: 500px; vertical-align: top;">
		<%=translations.emptySearchResultText%>
	</div>

</div>