<div style="float: left; width: 100%; text-align: left;">

	<div style="float: left; width: 350px; text-align: left;">

		<b><%=translations.filterByTypeTitle%></b>:

		<br />
		<br />

		<% _.each( restrictionTypes, function( restrictionType ) { %>
			<input type="checkbox" id="restrictionType<%=restrictionType.id%>" name="restrictionType" value="<%=restrictionType.id%>" class="restriction-type">
			<label for="restrictionType<%=restrictionType.id%>"><%=restrictionType.name%></label>
			<br />
		<% }) %>

		<br />

		<b><%=translations.filterByStatusTitle%></b>:

		<br />
		<br />

		<% _.each( restrictionStatuses, function( restrictionStatus ) { %>
			<input type="checkbox" id="restrictionStatus<%=restrictionStatus.id%>" name="restrictionStatus" value="<%=restrictionStatus.id%>" class="restriction-status">
			<label for="restrictionStatus<%=restrictionStatus.id%>"><%=restrictionStatus.name%></label>
			<br />
		<% }) %>

		<br />

		<input type="button" class="apply-filter-restriction-button" value="<%=translations.filterButtonTitle%>">

	</div>

	<div class="search-result-container" style="float: left; text-align: left; width: 500px; vertical-align: top;">
		<%=translations.emptySearchResultText%>
	</div>

</div>