<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<context:annotation-config/>
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler />

	<context:component-scan base-package="ui.controllers"/>

	<bean id="userEditDataValidator" class="ui.controllers.users.edit.UserEditDataValidator"/>
	<bean id="filterValidator" class="ui.controllers.users.list.FilterValidator"/>
	<bean id="photoFilterValidator" class="ui.controllers.photos.list.PhotoFilterValidator"/>
	<bean id="userCardValidator" class="ui.controllers.users.card.UserCardValidator"/>
	<bean id="userLoginValidator" class="ui.controllers.users.login.UserLoginValidator"/>
	<bean id="userAvatarValidator" class="ui.controllers.users.avatar.UserAvatarValidator"/>
	<bean id="userTeamMemberEditDataValidator" class="ui.controllers.users.team.edit.UserTeamMemberEditDataValidator"/>
	<bean id="userPhotoAlbumEditDataValidator" class="ui.controllers.users.photoAlbums.edit.UserPhotoAlbumEditDataValidator"/>

	<!--<bean id="photoEditDataValidator" class="ui.controllers.photos.DEL_edit.PhotoEditDataValidator"/>-->
	<bean id="photoCommentValidator" class="ui.controllers.comment.edit.PhotoCommentValidator"/>
	<bean id="photoVotingValidator" class="ui.controllers.voting.PhotoVotingValidator"/>
	<bean id="userGenreRankVotingValidator" class="ui.controllers.users.genreRank.UserGenreRankVotingValidator"/>
	<bean id="photoGroupOperationValidator" class="ui.controllers.photos.groupoperations.PhotoGroupOperationValidator"/>

	<bean id="changeUserPasswordValidator" class="ui.controllers.users.password.change.ChangeUserPasswordValidator"/>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html"/>
				<entry key="json" value="application/json"/>
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
					<property name="prefix" value="/WEB-INF/jsp/"/>
					<property name="suffix" value=".jsp"/>
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"/>
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="maxInMemorySize" value="1000"/>
		<property name="uploadTempDir" value="#{systemFilePathUtilsService.tempDir}"/>
	</bean>

</beans>

