<div class="user-team-list-entry">

	<input type="checkbox" name="userTeamMemberIds" class="user-team-member-checkbox" value="<%-userTeamMemberId%>" <%- checked ?  "checked='checked'" : "" %> >

	<% if ( userTeamMemberId > 0 && ! openEditor ) { %>
		<a href="#" class="user-team-member-info" onclick="return false;" title="<%-userTeamMemberNameTitle%>"><%-userTeamMemberName%></a> - <%- teamMemberPhotosQty %> <%- translationsDTO.listEntryPhotos %>
	<% } %>

	<% if ( userTeamMemberId > 0 && openEditor ) { %>
		<%-userTeamMemberName%> - <%- teamMemberPhotosQty %> photo(s)
	<% } %>

	<% if ( userTeamMemberId == 0 ) { %>
		<%- translationsDTO.newEntryDefaultName %>
	<% } %>
</div>