<div class="user-team-list-entry">

	<input type="checkbox" name="userTeamMemberIds" class="user-team-member-checkbox" value="<%-userTeamMemberId%>" <%- checked ?  "checked='checked'" : "" %> >

	<% if ( userTeamMemberId > 0 && ! openEditor ) { %>
		<a href="#" class="user-team-member-info" onclick="return false;"><%-userTeamMemberName%></a>
	<% } %>

	<% if ( userTeamMemberId > 0 && openEditor ) { %>
		<%-userTeamMemberName%>
	<% } %>

	<% if ( userTeamMemberId == 0 ) { %>
		* new
	<% } %>
</div>