<div class="row text-center" style="width: <%=minContainerWidth%>px; margin-left: auto; margin-right: auto;" >

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title">
				<%=photoLink%> ( <%=photoCategory%> )
			</h3>
		</div>

		<div class="panel-body">
			<a href="<%=photoCardLink%>">
				<img src="<%=photoImageUrl%>" class="photo-preview-image block-border" width="<%=photoImageWidth%>" height="<%=photoImageHeight%>" alt="<%=photoName%>" title="<%=photoName%>">
			</a>
		</div>

		<div class="panel-footer">
			<%=photoDescription%>

			<div class="context-menu-photo-<%=photoId%>">
				<a href="#" onclick="return false;">
					<img class="photo-context-menu-icon" src="/images/ui-menu-blue.png" onclick=""/>
				</a>
			</div>
		</div>
	</div>

</div>