
<style type="text/css">
	div {
		float: left;
		width: 100%;;
	}
</style>

<div style="padding: 10px; text-align: left;">
	<input type="radio" id="timePeriod" name="periodType" value="1" class="lock-period-type"> <label for="timePeriod">Time period</label>
	<br />
	<input type="radio" id="dateRange" name="periodType" value="2" class="lock-period-type"> <label for="dateRange">For date range</label>
</div>

<div id="range-div">

</div>

<input type="button" class="date-range-action-button" value="<%=buttonTitle%>">


