
<style type="text/css">
	div {
		float: left;
		width: 100%;;
	}
</style>

<script type="text/javascript">

	jQuery().ready( function() {
		setDefaultLockPeriodType( 1 );
	});

	function setDefaultLockPeriodType( lockType ) {
		$( "input[name=lockPeriodType][value='" + lockType + "']" ).attr( 'checked', 'checked' );
	}

</script>

<div>
	<input type="radio" name="lockPeriodType" value="1" class="lock-period-type"> Time period
	<input type="radio" name="lockPeriodType" value="2" class="lock-period-type"> For date range
</div>

<div id="range-div">

</div>


