
<style type="text/css">
	div {
		float: left;
		width: 100%;;
	}
</style>

<div style="padding: 10px;">
	<input type="radio" id="lockPeriodType_timePeriod" name="lockPeriodType" value="1" class="lock-period-type"> <label for="lockPeriodType_timePeriod">Time period</label>
	<input type="radio" id="lockPeriodType_dateRange" name="lockPeriodType" value="2" class="lock-period-type"> <label for="lockPeriodType_dateRange">For date range</label>
</div>

<div id="range-div">

</div>

<input type="button" value="Lock this bastard">


