<table width="300" border="0">

	<tr>

		<td colspan="2">Lock user for</td>
	</tr>

	<tr>
		<td align="right">
			<input type="text" class="time-period-value" size="4" value="<%=timePeriod%>">
		</td>

		<td align="left">
			<!--<input type="radio" id="time-period-unit-hours" name="time-period-unit-radio" value="1" class="time-period-unit"> <label for="time-period-unit-hours">hours</label>-->
			<!--<br />-->
			<input type="radio" id="time-period-unit-days" name="time-period-unit-radio" value="2" class="time-period-unit"> <label for="time-period-unit-days">days</label>
		</td>

	</tr>

</table>