
<!--<script type="text/javascript">

	jQuery().ready( function() {
		setiodType( <%=timeUnit%> );
	});

	function setDefaultLockPeriodType( lockType ) {
		$( "input[name=lockPeriodType][value='" + lockType + "']" ).attr( 'checked', 'checked' );
	}

</script>-->

Lock user for

<input type="text" id="time-range-value" size="4" value="<%=timePeriod%>">

<select id="time-range-unit-id">
	<option value="1">minutes</option>
	<option value="2">days</option>
	<option value="3">month</option>
	<option value="4">years</option>
</select>