
<div class="photo-list-entry-header">
	<div class="photo-list-entry-checkbox"><%=groupOperationCheckbox%></div>
	<div class="photo-list-entry-date" style="font-size: 10px;"><%=photoUploadDate%></div>
	<div class="photo-list-entry-category" style="font-size: 10px; text-align: right;"><%=photoCategory%></div>
</div>

<div class="photo-list-entry-preview">
	<%=photoImage%>
</div>

<div class="photo-list-entry-line"><%=photoContextMenu%></div>
<div class="photo-list-entry-line"><%=photoMarks%></div>
<div class="photo-list-entry-name" style="height: auto;"><%=photoName%></div>
<div class="photo-list-entry-line"><%=photoAuthorLink%></div>
<div class="photo-list-entry-line"><%=photoAuthorRank%></div>
