<div class="photo-list-entry-container col-lg-3">
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-1 id-photo-list-entry-checkbox">
					<% if( isGroupOperationEnabled ) {%>
						<%=groupOperationCheckbox%>
					<%}%>
				</div>
				<div class="col-lg-4">
					<h6 class="panel-title" style="font-size: 10px;"><%=photoUploadDate%></h6>
				</div>
				<div class="col-lg-6">
					<h6 class="panel-title text-right" style="font-size: 10px;"><%=photoCategory%></h6>
				</div>
			</div>
		</div>

		<div class="panel-body">

			<div class="row">

				<% if( ! hidePreviewBecauseOfNudeContent ) {%>
					<div class="photo-list-entry-preview">
						<%=photoImage%>
					</div>
				<%}%>

				<% if( hidePreviewBecauseOfNudeContent ) {%>
					<a href="<%=photoCardLink%>">
					<div>
						<%=nudeContentWarning0%>
						<br />
						<span class="nude-content-warning-1"><%=nudeContentWarning1%></span>
						<br />
						<%=nudeContentWarning2%>
						<br />
						<span class="nude-content-warning-1"><%=nudeContentWarning3%></span>
						<br />
						<%=nudeContentWarning4%>
					</div>
							</a>
				<%}%>

			</div> <!-- / photo image -->

		</div> <!-- / panel body -->

		<div class="panel-footer" style="display: <%= showPhotoListPreviewFooter ? 'block' : 'none'%>;">

			<div class="row text-center photo-icons"></div>

			<% if( showPhotoContextMenu ) {%>
				<div class="row text-center context-menu-photo context-menu-photo-<%=photoId%>">
					<a href="#" onclick="return false;">
						<img class="photo-context-menu-icon" src="/images/ui-menu-blue.png" onclick="" />
					</a>
				</div>
			<%}%>

			<% if( showStatistics ) {%>
				<div class="row text-center context-menu-photo context-menu-photo-<%=photoId%>">

					<div class="col-lg-6">
						<div class="col-lg-1 text-center" title="<%=todayMarksTitle%>"><%=todayMarks%></div>
						<div class="col-lg-1 text-center" title="<%=periodMarksTitle%>"><%=periodMarks%></div>
						<div class="col-lg-1 text-center"><%=totalMarks%></div>
					</div>

					<div class="col-lg-6">
						<div class="col-lg-6 text-right" title=""><%=previewsIcon%> <%=previewsCount%></div>
						<div class="col-lg-6 text-left" title=""><%=commentsIcon%> <%=commentsCount%></div>
					</div>
				</div>
			<%}%>

			<div class="row margin-left-5" style="height: 40px;"><%=photoLink%></div>
			<div class="row margin-left-5"><%=photoAuthorLink%></div>

			<% if( showUserRank ) {%>
				<div class="row margin-left-5"><%=photoAuthorRank%></div>
			<%}%>

			<% if( showAnonymousPeriodExpirationInfo ) {%>
				<div class="row margin-left-5"><%=photoAnonymousPeriodExpirationInfo%></div>
			<%}%>

			<div class="row" style="height: 20px; margin-left: 1px;">

				<div class="col-lg-1">
					<% if( memberOfAlbum ) {%>
						<img src="/images/photo-list-entry-album.png" class="photo-list-entry-icon" title="TODO: the photo is in album">
					<%}%>
				</div>

				<div class="col-lg-1">
					<% if( showAdminFlag_Anonymous ) {%>
						<img src="/images/icons24/admin-special-flag-anonymous-posting.png" class="photo-list-entry-icon" title="TODO: anonymous posting">
					<%}%>
				</div>

				<div class="col-lg-1" class="photo-list-entry-icon">
					<% if( showAdminFlag_Nude ) {%>
						<img src="/images/icons24/admin-special-flag-nude-content.png" class="photo-list-entry-icon" title="TODO: the photo has nude content">
					<%}%>
				</div>

				<% _.each( specialRestrictionIcons, function( iconDTO ) {%>
					<div class="col-lg-1">
						<img src="/images/<%=iconDTO.icon%>" alt="<%=iconDTO.restrictionTypeName%>" class="photo-list-entry-icon" title="<%=iconDTO.restrictionTypeName%>">
					</div>
				<%} );%>

			</div>

		</div> <!-- / panel footer -->

	</div>
</div>