<style type="text/css">

	.user-lock-area-header {
		float:left;
		width: 100%;
		text-align: center;
	}

	.user-lock-area-tab {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.user-lock-area {
		float: left;
		width: 45%;
		margin: 5px;
	}
</style>

<!--<script type="text/javascript">
	jQuery().ready( function() {
		$( "input[name=lockPeriodType][value='1']" ).attr( 'checked', 'checked' );
	});
</script>-->

<div class="user-lock-area-header">

	<div class="user-lock-area">
		<div class="user-lock-area-header block-background user-lock-area-tab">Lock user now</div>

		<input type="radio" name="lockPeriodType" value="1" class="lock-period-type"> Time period
		<input type="radio" name="lockPeriodType" value="2" class="lock-period-type"> For date range

		<div id="lockPeriodType_TimePeriod" style="display: none">
			Lock user for
			<input type="text" id="timePeriod_Period" size="4">
			<select id="">
				<option value="1">minutes</option>
				<option value="2">days</option>
				<option value="3">month</option>
				<option value="4">years</option>
			</select>
		</div>

		<div id="lockPeriodType_DateRange" style="display: none">
			Till the end of the day:
		</div>

	</div>

	<div class="user-lock-area" style="float: right;">
		<div class="user-lock-area-header block-background user-lock-area-tab">Locking history</div>


	</div>

</div>