<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.files.path" value="/tmp"/>
    <property name="service.name" value="jphoto"/>
    <property name="timezone" value="UTC"/>
    <property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS zzz, ${timezone}}, [%thread] %-5level, %logger{5}:%line %m traceId=&quot;%X{traceId}&quot;%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.files.path}/${service.name}.log</file>
        <append>true</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.files.path}/${service.name}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>12</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
