<div>
	<a href="#" onclick="voteForUserRankInGenre( <%- userId %>, <%- genreId %>, -<%- voterRankInGenreVotingPoints %> ); return false;" title="Member's photos in 'Nude' does not deserve his rank 0 ( -1)">
		<img id="rank_down_177" src="http://192.168.1.102:8083/jphoto/common/images/genre_rank_down.png" border="0" width="16" height="16" alt="" title="">
	</a>

	<a href="#" onclick="voteForUserRankInGenre( <%- userId %>, <%- genreId %>, <%- voterRankInGenreVotingPoints %> ); return false;" title="Member's photos in 'Nude' deserves more then his current rank 0 (+1)">
		<img id="rank_up_177" src="http://192.168.1.102:8083/jphoto/common/images/genre_rank_up.png" border="0" width="16" height="16" alt="" title="">
	</a>
</div>