#Project URL without closing slash
ProjectUrl=http://192.168.69.77:8083

#Tomcat context
TomcatWorkerName=/jphoto

# use this if no context
TomcatWorkerName=

# Admin prefix with leading slash
AdminPrefix=/admin

# Photo storage path
PhotoStoragePath=/home/blu/src/userPhotos

## Preview folder name
PreviewFolderName=preview

# Temp files path
SystemTempFolder=../Files/temp