#Project URL
ProjectUrl=http://192.168.69.77:8083

#Tomcat context
TomcatWorkerName=/jphoto

#Application prefix
ApplicationPrefix=app

# Admin prefix
AdminPrefix=admin

# System photo path
PhotoStoragePath=/home/blu/src/userPhotos

# System temp path
SystemTempFolder=../Files/temp

## Preview folder name
PreviewFolderName=preview