/*.row {
	border: 1px dotted grey;
}*/

/*div {
	border: 1px dotted red;
}*/

.debug {
	border: 1px dotted red;
}

body {
	margin: 0 20px 0 0;
	padding: 0;
	font: normal 90% Helvetica;
	background: #fcfcfc;
}

.base-font-color {
	color: #888888;
}

a {
	text-decoration: none;
	color: #003366;
}

.row-bottom-padding-10 {
	padding-bottom: 10px;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

td.column-title {
	text-align: right;
	width: 45%;
	padding-right: 10px;
}

td.column-data {
	text-align: left;
	padding-left: 10px;
}

/*.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f00;
}*/

/*.block-background {
	background: #e7e4d3;
}*/

/*.block-border {
	border: solid 1px #848078;
}*/

/*.block-shadow {
	box-shadow: 3px 3px 10px #848078;
}*/