
.margin-left-5 {
	margin-left: 5px;
}

.photo-list-entry-container {
	min-height: 440px; /* MATTER OF DIMENSION */
}

.photo-preview-image {
}

.photo-list-entry-icon {
	width: 16px;
	height: 16px;
	/*padding: 1px;*/
}

.photo-list-entry-icon-container {
	float: left;
	display: inline-block;
	width: 24px;
	height: 16px;
}

.img-grayscale {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1);
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.invisible {
	display: none;
}

.invalid-nude-content {
	background: #dd8888;
}
