<style type="text/css">

	.user-lock-area-header {
		float:left;
		width: 100%;
		text-align: center;
	}

	.user-lock-area-tab {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.user-lock-area {
		float: left;
		width: 45%;
		margin: 5px;
		/*text-align: center;*/
		/*border: 1px solid #bbbbbb;*/
		/*height: 100%;*/
		/*min-height: 100%; !important;*/
	}
</style>

<div class="user-lock-area-header">

	<!--<div class="user-lock-area-header">Locking user: <%- userId %></div>-->

	<div class="user-lock-area">
		<div class="user-lock-area-header block-background user-lock-area-tab">Lock user now</div>

		TODO: Locking form

	</div>

	<div class="user-lock-area" style="float: right;">
		<div class="user-lock-area-header block-background user-lock-area-tab">Locking history</div>

		TODO: User locking history
	</div>

</div>