<div class="row text-center">

	<div class="col-lg-12 latest-photos-container">
		<img src="/images/progress.gif" alt="">
	</div>

</div>

<div class="row text-center">

	<div class="col-lg-3 best-photos-container">
		<img src="/images/progress.gif" alt="">
	</div>

	<div class="col-lg-3 genres-container">
		<img src="/images/progress.gif" alt="">
	</div>

	<div class="col-lg-6">
		<div class="col-lg-12">

			<div class="row">
				<div class="col-lg-6 best-week-authors-container">
					<img src="/images/progress.gif" alt="">
				</div>

				<div class="col-lg-6 best-month-authors-container">
					<img src="/images/progress.gif" alt="">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 activity-stream-container">
					<img src="/images/progress.gif" alt="">
				</div>
			</div>
		</div>
	</div>

</div>