<div class="row text-center">

	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.theLatestPhotos%></h3>
			</div>
			<div class="panel-body latest-photos-container">
				the latest photos
			</div>
		</div>
	</div>

</div>

<div class="row text-center">

	<div class="col-lg-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.photoOfTheDay%></h3>
			</div>
			<div class="panel-body">
				the photos
			</div>
			<div class="panel-footer">
				The rest photos
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.photoGenres%></h3>
			</div>
			<div class="panel-body">
				the genres
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.theBestWeeksAuthors%></h3>
			</div>
			<div class="panel-body">
				the best weeks authors
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.theBestMonthAuthors%></h3>
			</div>
			<div class="panel-body">
				the best weeks authors
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=translator.activityStream%></h3>
			</div>
			<div class="panel-body">
				the activity stream
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

</div>