<div class="block-shadow block-border restriction-history-entry-container <%=cssClass%>" style="width: 380px; display: inline-block; margin: 5px;" >

	<div style="float: left; width: 30px; text-align: center;">
		#<%=id%>
		<br />
		<img src="<%=restrictionIcon%>" alt="<%=restrictionName%>" width="16" height="16" title="<%=restrictionName%>">
	</div>

	<div style="float: left; width: 350px;">
		<div class="block-border restriction-history-entry-header">
			<%=entryLink%>
			<br />
			<%=restrictionName%> - <%=status%>
		</div>

		<%=dateFrom%> <sup style="font-size: 9px;"><%=timeFrom%> </sup> - <%=dateTo%> <sup style="font-size: 9px;"><%=timeTo%></sup>
		<br />
		<%=historyEntryTranslations.restrictionDuration%>: <%=restrictionDuration%>

		<% if( active && ! finished ) { %>
			<br />
			<%=historyEntryTranslations.expiresAfter%>: <b><%=expiresAfter%></b>
		<% } %>

		<br />
		<span style="font-size: 10px;"><%=historyEntryTranslations.createdBy%>: <%=creatorLink%>, <%=historyEntryTranslations.restrictedAtTime%> <%=creationDate%> <sup style="font-size: 9px;"><%=creationTime%></sup></span>

		<% if( ! active ) { %>
			<br />
			<span style="font-size: 10px;">
				<%=historyEntryTranslations.cancelledBy%>: <%=cancellerLink%>, <%=historyEntryTranslations.cancelledAtTime%> <%=cancellingDate%> <sup style="font-size: 9px;"><%=cancellingTime%></sup>
				<br />
				<%=historyEntryTranslations.wasRestrictedTitle%> <%=wasRestricted%>
			</span>
		<% } %>

		<br />
		<% if( active && ! finished ) { %>
			[ <a href="#" class="cancel-restriction" onclick="return false;" title="<%=historyEntryTranslations.cancelTitle%>"><%=historyEntryTranslations.cancel%></a> ]
		<% } %>
		[ <a href="#" class="delete-restriction" onclick="return false;" title="<%=historyEntryTranslations.deleteTitle%>"><%=historyEntryTranslations.deleteRestriction%></a> ]

	</div>
</div>
