<style type="text/css">
	.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	div.user-picker-found-entry:hover {
		background: #dddddd;
		cursor: pointer;
	}

	* html .ui-autocomplete {
		height: 100px;
	}

	.invisibility {
		display: none;
	}
</style>

<div style='float: left; width: 100%;'>
	<input type="hidden" name="<%-controlName%>" value="<%=selectedUserId%>">
	<input type="text" class="user-picker-filter" value="<%=searchString%>">

	<div class="search-result-container invisibility" style="float: left; width: 100%;">

	</div>
</div>