
<style type="text/css">
	div {
		float: left;
		width: 100%;;
	}
</style>

<div style="padding: 10px; text-align: left;">
	<input type="radio" id="timePeriod" name="periodType" value="1" class="lock-period-type" <%=rangeType == 1 ? "checked='checked'": ""%> > <label for="timePeriod"><%=translations.timePeriod%></label>
	<br />
	<input type="radio" id="dateRange" name="periodType" value="2" class="lock-period-type"  <%=rangeType == 2 ? "checked='checked'": ""%> > <label for="dateRange"><%=translations.dateRange%></label>
</div>

<div id="range-div" style="height: 90px;">

</div>


