	<div class="user-album-details">
	<%-translationsDTO.fieldName%>: <input type="text" class="user-album-data user-album-name" value="<%-entryName%>">
	<img src="/images/icons16/close16.png" class="user-album-cancel-editing" alt="Cancel" title="<%-translationsDTO.entryEditIconCancelTitle%>" height="16" width="16" >
	<img src="/images/icons16/save.png" class="user-album-save" alt="Save" title="<%-translationsDTO.entryEditIconSaveTitle%>" height="16" width="16" style="display: none">
	<img src="/images/icons16/cancel.png" class="user-album-discard-changes" alt="Discard" title="<%-translationsDTO.entryEditIconDiscardTitle%>" height="16" width="16" style="display: none">
</div>