<div class="user-album-details">

	<div style="float: left; text-align: center; width: 40px; border-right: 1px dashed #848078">
		<a href="<%-albumLink%>" target="_blank"><img src="/images/icons16/images.png" alt="Card" title="<%-translationsDTO.albumInfoIconTitleAlbumCard%>" height="16"></a>
		<br />
		<img src="/images/edit16.png" alt="Edit" class="user-album-edit"  title="<%-translationsDTO.albumInfoIconTitleAlbumEdit%>" height="16">

		<% if( albumPhotosQty == 0 ) {%>
			<br />
			<img src="/images/delete16.png" class="user-album-delete" alt="Delete" title="<%-translationsDTO.albumInfoIconTitleAlbumDelete%>" height="16">
		<% } %>

		<% if( albumPhotosQty > 0 ) {%>
			<br />
			<img src="/images/cannotdelete.png" class="user-album-can-not-delete" alt="Delete" title="<%-entryName%> <%-translationsDTO.entryInfoIconTitleCanNotDelete%>" height="16">
		<% } %>

	</div>

	<div style="float: left; padding-left: 10px;">
		<%-translationsDTO.fieldName%>: <div class="user-album-edit" style="display: inline;"><%-entryName%></div>
	</div>

</div>