<div class="photo-list-entry-container col-lg-3">
	<div class="panel panel-primary">

		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-1 id-photo-list-entry-checkbox">
					<% if( displayOptions.groupOperationEnabled ) {%>
						<%=groupOperationCheckbox%>
					<%}%>
				</div>
				<div class="col-lg-4">
					<h6 class="panel-title" style="font-size: 10px;"><%=photoUploadDate%></h6>
				</div>
				<div class="col-lg-6">
					<h6 class="panel-title text-right" style="font-size: 10px;"><%=photoCategory%></h6>
				</div>
			</div>
		</div>

		<div class="panel-body">

			<div class="row text-center" style="height: 300px;">

				<% if( ! hidePreviewBecauseOfNudeContent ) {%>
					<%=photoImage%>
				<%}%>

				<% if( hidePreviewBecauseOfNudeContent ) {%>
					<a href="<%=photoCardLink%>">
					<h4>
						<%=nudeContentWarning0%>
						<br />
						<span class="nude-content-warning-1"><%=nudeContentWarning1%></span>
						<br />
						<%=nudeContentWarning2%>
						<br />
						<span class="nude-content-warning-1"><%=nudeContentWarning3%></span>
						<br />
						<%=nudeContentWarning4%>
					</h4>
							</a>
				<%}%>

			</div> <!-- / photo image -->

		</div> <!-- / panel body -->

		<div class="panel-footer" style="display: <%=showPhotoListPreviewFooter ? 'block' : 'none'%>;">

			<div class="row">
				<div class="col-lg-10 margin-left-5"><%=photoAuthorLink%></div>
				<% if( showPhotoContextMenu ) {%>
					<div class="col-lg-1 context-menu-photo context-menu-photo-<%=photoId%>">
						<a href="#" onclick="return false;">
							<img class="photo-context-menu-icon" src="/images/ui-menu-blue.png" onclick="" />
						</a>
					</div>
				<%}%>
			</div>

			<div class="row text-center" style="height: 20px;">
				<% if( showStatistics ) {%>
					<div class="col-lg-6">
						<div class="col-lg-1 text-center" title="<%=todayMarksTitle%>"><%=todayMarks%></div>
						<div class="col-lg-1 text-center" title="<%=periodMarksTitle%>"><%=periodMarks%></div>
						<div class="col-lg-1 text-center"><%=totalMarks%></div>
					</div>

					<div class="col-lg-6">
						<div class="col-lg-6 text-right" title=""><%=previewsIcon%> <%=previewsCount%></div>
						<div class="col-lg-6 text-left" title=""><%=commentsIcon%> <%=commentsCount%></div>
					</div>
				<%}%>
			</div>

			<div class="row margin-left-5" style="height: 40px;"><%=photoLink%></div>

			<div class="row margin-left-5" style="height: 20px;">
				<% if( showUserRank ) {%>
					<%=photoAuthorRank%>
				<%}%>
			</div>

			<div class="row text-center" style="height: 20px; margin-left: 3px;">

				<div style="float: left; width: 40px;">
					<div class="photo-list-entry-icon-container">
						<% if( memberOfAlbum ) {%>
							<a href="<%=photoAlbumLink%>">
								<img src="/images/photo-list-entry-album.png" class="photo-list-entry-icon " title="<%=iconTitlePhotoIsInAlbum%>">
							</a>
						<%}%>
					</div>
				</div>

				<div style="float: left; width: 80px;">
					<div class="photo-icons">&nbsp;</div>
				</div>

				<div style="float: left; width: 60px;">
					<div class="photo-list-entry-icon-container">
						<% if( showAdminFlag_Anonymous ) {%>
							<img src="/images/icons24/admin-special-flag-anonymous-posting.png" class="photo-list-entry-icon" title="<%=photoAnonymousPeriodExpirationInfo%>">
						<%}%>
					</div>

					<div class="photo-list-entry-icon-nude-content photo-list-entry-icon-container">
						<% if( userSuperAdmin ) {%>
							<img src="/images/icons24/admin-special-flag-nude-content.png" class="nude-content-icon photo-list-entry-icon <%= showAdminFlag_Nude ? '' : ( photoCategoryCanContainNudeContent ? 'img-grayscale' : 'invisible' ) %>" title="<%=iconTitleNudeContent%>">
						<%}%>
					</div>
				</div>

				<div style="float: left; width: 120px;">
					<% _.each( specialRestrictionIcons, function( iconDTO ) {%>
						<div class="photo-list-entry-icon-container">
							<img src="/images/<%=iconDTO.icon%>" alt="<%=iconDTO.restrictionTypeName%>" class="photo-list-entry-icon" title="<%=iconDTO.restrictionTypeName%>">
						</div>
					<%} );%>
				</div>

			</div>

		</div> <!-- / panel footer -->

	</div>
</div>