<div class="row text-center">

	<div class="col-lg-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TODO: The photos of the day</h3>
			</div>
			<div class="panel-body">
				the photos
			</div>
			<div class="panel-footer">
				The rest photos
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TODO: Photo genres</h3>
			</div>
			<div class="panel-body">
				the genres
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TODO: The best weeks authors</h3>
			</div>
			<div class="panel-body">
				the best weeks authors
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TODO: The best months authors</h3>
			</div>
			<div class="panel-body">
				the best weeks authors
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

	<div class="col-lg-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TODO: Activity stream</h3>
			</div>
			<div class="panel-body">
				the activity stream
			</div>
			<div class="panel-footer">
				footer
			</div>
		</div>

	</div>

</div>