<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title"><%=translator.title%></h3>
	</div>

	<div class="panel-body">

		<div class="col-lg-12 genres-container">
			<table class="table">
				<% _.each( activityStreamEntryDTOs, function( activityDTO ) { %>
					<tr>
						<td width="30px">
							<div class="row">
								<%=activityDTO.activityIcon%>
							</div>
							<div class="row">
								<small><span style="text-align: left;"><%=activityDTO.activityTime%> <%=activityDTO.activityUserLink%></span></small>
							</div>
						</td>
					</tr>
				<%})%>
			</table>
		</div>

	</div>

</div>