
<% _.each( photoAppraisalForm.appraisalSections, function( section ) { %>
	<div class="row row-bottom-padding-10">

		<div class="col-lg-7 text-right">
			<select class="photo-appraisal-category-select photo-appraisal-category-<%=section.number%>">
				<% _.each( section.accessibleAppraisalCategories, function( category ) { %>
					<option value="<%=category.id%>"<%= section.selectedCategoryId == category.id ? ' selected' : ''%>><%=category.nameTranslated%></option>
				<% }) %>
			</select>
		</div>

		<div class="col-5 text-left">
			<select class="photo-appraisal-mark-<%=section.number%>">
				<% _.each( section.accessibleMarks, function( mark ) { %>
					<option value="<%=mark.value%>"<%= section.selectedMark == mark.value ? ' selected' : ''%>><%=mark.text%></option>
				<% }) %>
			</select>
		</div>

	</div>
<% }) %>

<div class="row text-center">
	<div class="col-lg-4">
		<div class="appraise-photo-button-container"><input type="button" class="appraise-photo-button custom-marks-button" value="<%=photoAppraisalForm.customButtonText%>" title="<%=photoAppraisalForm.customButtonTitle%>" /></div>
	</div>
	<div class="col-lg-4">
		<div class="appraise-photo-button-container"><input type="button" class="appraise-photo-button good-button" value="<%=photoAppraisalForm.goodButtonText%>" title="<%=photoAppraisalForm.goodButtonTitle%>" /></div>
	</div>
	<div class="col-lg-4">
		<div class="appraise-photo-button-container"><input type="button" class="appraise-photo-button excellent-button" value="<%=photoAppraisalForm.excellentButtonText%>" title="<%=photoAppraisalForm.excellentButtonTitle%>" /></div>
	</div>
</div>
