<div class="block-shadow block-border restriction-history-entry-container <%=cssClass%>" >

	<div style="float: left; width: 30px; text-align: center;">
		#<%=id%>
		<br />
		<img src="<%=restrictionIcon%>" alt="<%=restrictionName%>" width="16" height="16" title="<%=restrictionName%>">
	</div>

	<div style="float: left; width: 90%;">
		<div class="block-border restriction-history-entry-header"><%=restrictionName%> - <%=status%></div>
		<br />
		<%=dateFrom%> <sup style="font-size: 9px;"><%=timeFrom%> </sup> - <%=dateTo%> <sup style="font-size: 9px;"><%=timeTo%></sup>
		<br />
		<%=translations.restrictionDuration%>: <%=restrictionDuration%>

		<% if( active && ! finished ) { %>
			<br />
			<%=translations.expiresAfter%>: <b><%=expiresAfter%></b>
		<% } %>

		<br />
		<span style="font-size: 10px;"><%=translations.createdBy%>: <%=creatorLink%>, <%=translations.restrictedAtTime%> <%=creationDate%> <sup style="font-size: 9px;"><%=creationTime%></sup></span>

		<% if( ! active ) { %>
			<br />
			<span style="font-size: 10px;">
				<%=translations.cancelledBy%>: <%=cancellerLink%>, <%=translations.cancelledAtTime%> <%=cancellingDate%> <sup style="font-size: 9px;"><%=cancellingTime%></sup>
				<br />
				<%=translations.wasRestrictedTitle%> <%=wasRestricted%>
			</span>
		<% } %>

		<br />
		<% if( active && ! finished ) { %>
			[ <a href="#" class="cancel-restriction" onclick="return false;" title="<%=translations.cancelTitle%>"><%=translations.cancel%></a> ]
		<% } %>
		[ <a href="#" class="delete-restriction" onclick="return false;" title="<%=translations.deleteTitle%>"><%=translations.deleteRestriction%></a> ]

	</div>
</div>
