<div class="block-shadow block-border <%=cssClass%>"  style="float: left; width: 97%; text-align: left; margin-bottom: 5px; margin-top: 5px; padding: 5px;">

	<div style="float: left; width: 20px;">
		<%=id%>
		<br />
		<img src="<%=restrictionIcon%>" alt="<%=restrictionName%>" width="16" height="16" title="<%=restrictionName%>">
	</div>

	<div style="float: left; width: 90%;">
		<%=restrictionName%>
		<br />
		<%=dateFrom%> <sup style="font-size: 9px;"><%=timeFrom%> </sup> - <%=dateTo%> <sup style="font-size: 9px;"><%=timeTo%></sup>
		<br />
		<%=translations.restrictionDuration%>: <%=restrictionDuration%>

		<% if( active && ! finished ) { %>
			<br />
			<%=translations.expiresAfter%>: <b><%=expiresAfter%></b>
		<% } %>

		<br />
		<span style="font-size: 10px;"><%=translations.createdBy%>: <%=creatorLink%>, <%=translations.restrictedAtTime%> <%=creationDate%> <sup style="font-size: 9px;"><%=creationTime%></sup></span>
		<% if( active && ! finished ) { %>
			[ <a href="#" id="<%=id%>" class="cancel-restriction" onclick="return false;" title="<%=translations.cancelTitle%>"><%=translations.cancel%></a> ]
		<% } %>

		<% if( ! active ) { %>
			<br />
			<span style="font-size: 10px;">
				<%=translations.cancelledBy%>: <%=cancellerLink%>, <%=translations.cancelledAtTime%> <%=cancellingDate%> <sup style="font-size: 9px;"><%=cancellingTime%></sup>
				<br />
				<%=translations.wasRestrictedTitle%> <%=wasRestricted%>
			</span>
		<% } %>
	</div>
</div>
